<%-include('../partials/header.html')%>
    <link rel="stylesheet" href="/../../css/usuario.css">
    <titulo>Usuário - Perfil</titulo>
    </head>

    <body>

        <%-include('partials/navbar.html')%>
            <div class="container-fluid">
                <div class="row">
                    <%-include('partials/sidebar.html')%>
                        <div class="col-md-10 content">
                            <div class="row">
                                <div class="col-md-6 perfil-content">
                                    <p class="display-4">Seu Perfil</p>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly value="<%=res.nome%>">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly value="<%=res.email%>">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Telefone</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly value="<%=res.telefone%>">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Curso</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly value="<%=res.curso%>">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Gênero</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly value="<%=res.genero%>">
                                        </div>
                                    </div>
                                    <hr>

                                    <a href="/usuario/perfil/edit">Editar Perfil</a> |
                                    <a href="/usuario/alterarpass">Alterar Senha</a>

                                </div>
                                <div class="col-md-5 perfil-content">
                                    <img class="profile-vector" src="../../images/profile-vector" alt="">
                                    <hr>
                                    <a href="#">Alterar a foto do perfil</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <%-include('../partials/footer.html')%>
